<audio autoplay="autoplay" loop="loop">
    <source src="./audio/earthSynth.wav" type="audio/mpeg">
</audio>
<h1 class="earthHeader">Earth</h1>
<div id="earthMain" class="animated wobble">
    <video ng-click="$ctrl.displayText(); $ctrl.displayText2()" class="animated flipInX img-responsive" width="480"
           height="400" autoplay loop>
        <source src="../videos/earth_from_space.mp4" type="video/mp4">
    </video>
    <div id="earthText" ng-show="$ctrl.show" class="earthBox1 earthText img-responsive animated lightSpeedIn">
        {{$ctrl.text}}
    </div>
</div>
<earth2 class="earthBox2 earthText2 animated slideInRight img-responsive" ng-show="$ctrl.show"></earth2>
