<audio autoplay="autoplay" loop="loop">
    <source src="./audio/marsSynth.wav" type="audio/mpeg">
</audio>
<h1 class="marsHeader">Mars</h1>
<div id="marsMain" class="animated bounceIn">
    <img class="animated bounceInRight img-responsive"
         ng-click="$ctrl.displayText()" src="http://nineplanets.org/images/mars.jpg"/>
    <text-red>
        <div id="marsText" ng-show="$ctrl.show" class="marsBox marsText animated zoomInRight">
            {{$ctrl.text}}
        </div>
    </text-red>
</div>
<text-red>
    <mars2 class="marsBox2 marsText2 animated zoomIn" ng-show="$ctrl.show"></mars2>
</text-red>
