
<link rel="stylesheet" href="../styles/mercuryStyle.css">
<audio autoplay="autoplay" loop="loop">
	<source src="./audio/mercurySynth.wav" type="audio/mpeg">
</audio>
<h1 ng-click="$ctrl.displayTextReverse()">Mercury</h1>
<div id="main" class="animated flipInX">
	<img class="animated bounceInLeft img-responsive" ng-click="$ctrl.displayText();
		$ctrl.show = true" src="http://nineplanets.org/images/mercury.jpg"/>
	<text-gray>
		<div class="animated lightSpeedIn">
			<div ng-show="$ctrl.show" class="box text  text4">
				{{$ctrl.text}}
			</div>
			>
		</div>
	</text-gray>
</div>
<text-gray>
	<mercury2 class="box2 text2  animated slideInUp" ng-show="$ctrl.show"></mercury2>
</text-gray>