<audio autoplay="autoplay" loop="loop">
    <source src="./audio/neptuneSynth.wav" type="audio/mpeg">
</audio>
<h1 class="neptuneHeader">Neptune</h1>
<div id="neptuneMain" class="animated flipInY">
    <img class="animated rotateInUpRight img-responsive" ng-click="$ctrl.displayText()"
         src="http://nineplanets.org/images/neptune.jpg"/>
    <div id="neptuneText" ng-show="$ctrl.show" class="neptuneBox neptuneText animated fadeIn">
        {{$ctrl.text}}
    </div>
</div>
<neptune2 class="neptuneBox2 neptuneText2 animated flipInX" ng-show="$ctrl.show"></neptune2>
