<h1 class="animated rubberBand sunHeader">The Sun</h1>
<audio autoplay="autoplay" loop="loop">
    <source src="./audio/sunStyle.wav" type="audio/mpeg">
</audio>
<div id="sunMain" class="headShake">
    <img class="animated rollIn img-responsive" ng-click="$ctrl.displayText()"
         src="http://nineplanets.org/images/thesun.jpg"/>
    <text class="animated flipInX">
        <div id="sunText" ng-show="$ctrl.show" class="sunBox sunText animated flipInX">
            {{$ctrl.text}}
        </div>
    </text>
</div>
