<link rel="stylesheet" href="../styles/neptuneStyle.css">
<audio controls loop>
	<source src="" type="audio/mpeg">
</audio>
<div id="main" class="animated flipInY">
	<h1>Neptune</h1>
	<img class="animated rotateInUpRight img-responsive" ng-click="$ctrl.displayText()"
	     src="http://nineplanets.org/images/neptune.jpg"/>


	<div id="text" ng-show="$ctrl.show" class="box text animated fadeIn">
		{{$ctrl.text}}
	</div>
</div>
<neptune2 class="box2 text2  animated flipInX" ng-show="$ctrl.show"></neptune2>
