<link rel="stylesheet" href="../styles/uranusStyle.css">
<audio controls loop>
	<source src="" type="audio/mpeg">
</audio>
<div id="main" class="animated flipInX">
	<h1>Uranus</h1>
	<img class="animated jello img-responsive" ng-click="$ctrl.displayText()"
	     src="http://nineplanets.org/images/uranus.jpg"/>

	<div id="text" ng-show="$ctrl.show" class="box text animated lightSpeedIn" ng-click="$ctrl.stop()">
		{{$ctrl.text}}
	</div>
</div>
<uranus2 class="box2 text2  animated lightSpeedIn" ng-show="$ctrl.show" ng-click="$ctrl.stop()"></uranus2>