.box {
    width: 32vw;
    height: auto;
    min-height: 34vh;
    max-height: inherit;
    background-color: #0f0f0f;
    position: relative;
    right: 7%;
    margin-top: 2%;
    border-radius: 2%;
    border: solid 2px darkred;

}

.box2 {
    width: 21vw;
    height: auto;
    min-height: 80vh;
    max-height: inherit;
    background-color: #0f0f0f;
    position: absolute;
    left: 6%;
    top: 10%;
    border-radius: 2%;
    border: solid 2px darkred;
}

#main {
    margin-left: 35%;
}

button {
    position: absolute;
    top: 50%;
    left: 40.2%;
}

#main h1 {
    color: #B71C1C;
}

.text {

    padding: 2%;
    font-size: 25px;
}

.text2 {
    color: coral;
    padding: 2%;
    font-size: 25px;
}
#text{
    animation-name: text;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}

@keyframes text {
    0% {
        color: #F44336;
    }
    20% {
        color: #ec407a;
    }
    40% {
        color: orangered;
    }
    80% {
        color: #9a161a;
    }
    100% {
        color: lightcoral;
    }

}

