
.box {
    width: 32vw;
    height: auto;
    min-height: 34vh;
    max-height: inherit;
    background-color: #0f0f0f;
    position: relative;
    right: 7%;
    margin-top: 2%;
    border-radius: 2%;
    border: solid 2px orangered;

}

.box2 {
    width: 21vw;
    height: auto;
    min-height: 76vh;
    max-height: inherit;
    background-color: #0f0f0f;
    position: absolute;
    left: 6%;
    top: 10%;
    border-radius: 2%;
    border: solid 2px orangered;
}

#main {
    margin-left: 35%;
}

#main h1 {
    color: #f50057;
}

button {
    position: absolute;
    top: 50%;
    left: 40.2%;
}

.text {

    padding: 1.5%;
    font-size: 25px;
}

.text2 {
    color: #C21F39;
    padding: 1.5%;
    font-size: 25px;
}
#text{
    animation-name: text;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}

@keyframes text {
    0% {
        color: #9a161a;
    }
    20% {
        color: #fce4ec;
    }
    40% {
        color: #ed0409;
    }
    80% {
        color: #F44336;
    }
    100% {
        color: darkred;
    }

}

