.box {
    width: 30vw;
    height: auto;
    min-height: 34vh;
    max-height: inherit;
    background-color: #0f0f0f;
    position: relative;
    right: 7%;
    margin-top: 2%;
    border-radius: 2%;
    border: solid 2px red;

}

.box2 {
    width: 22vw;
    height: auto;
    min-height: 78vh;
    max-height: 100vh;
    background-color: #0f0f0f;
    position: absolute;
    left: 6%;
    top: 10%;
    border: solid 2px red;
    border-radius: 2%;
}

#main {
    margin-left: 35%;
}

#main h1 {
    color: yellow;
}

button {
    position: absolute;
    top: 50%;
    left: 40.2%;
}

.text {
    color: white;
    padding: 2%;
    font-size: 25px;
    font-family: 'Roboto', sans-serif;
}

.text2 {
    color: yellow;
    padding: 2%;
    font-size: 25px;
    font-family: 'Roboto', sans-serif;
}

